<%= form_with model: [:admin, @badge] do |form| %>
  <p>
    <%= form.label :title %> <br />
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :url %> <br />
    <%= form.text_field :url %>
  </p>
  <p>
    <%= form.label :rule %> <br />
    <%= form.select :rule,  options_for_select(Badge::RULES.pluck(:title, :value))%>
  </p>
  <%= form.submit %> 
<% end %>
