<h3><%= t('.header', title: @test_passage.test.title) %></h3>
<h4>
  Total: <%= @test_passage.correct_questions%> of <%=
  @test_passage.test.questions.count %> questions
</h4>

<%= define_result %>

<%= link_to 'Back to tests', tests_path %>
