<div class="header__wrapper">
  <p><%= link_to 'Test Guru', root_path%></p>

  <% if user_signed_in? %>
  <div>
    <p>Welcome, <b><%= current_user.first_name %></b></p>
    <%= button_to 'Logout', destroy_user_session_path, method: :delete,data: { confirm: 'Are
    you sure?'} %>
  </div>
  <% else %>
  <div>
    <%= button_to 'Log in', new_user_session_path, method: :get %>
    <p>Are you new here?</p>
    <%= button_to 'Sign up', new_user_registration_path, method: :get %>
  </div>
  <% end %>
</div>
