<div class="header__wrapper">
  <p><%= link_to 'Test Guru', root_path%></p>

  <% if user_signed_in? %>
  <div>
    <p><%= t('.welcome') %> <b><%= current_user.first_name %></b></p>
    <%= button_to t('.logout'), destroy_user_session_path, method: :delete,data: { confirm: t('system.modal.confirm')} %>
  </div>
  <% else %>
  <div>
    <%= button_to t('.login'), new_user_session_path, method: :get %>
    <p><%= t('.are_you_new') %></p>
    <%= button_to t('.signup'), new_user_registration_path, method: :get %>
  </div>
  <% end %>
</div>
