
<nav class="navbar navbar-light bg-light">
  <%= link_to TestGuru, tests_path, class: 'navbar-brand' %>
  <% if current_user && current_user.admin? %>
    <%= link_to 'Admin panel', admin_tests_path, class: 'navbar-brand' %>
  <% end %>
  <span class="navbar-text">
    <% if user_signed_in? %>
      <span><%= t('.welcome') %> | <b><%= current_user.first_name %></b></span> |
      <%= link_to t('.logout'), destroy_user_session_path, method: :delete,data: { confirm: t('system.modal.confirm')} %>
    <% else %>
    <span><%= t('.are_you_new') %></span>
    <%= link_to t('.signup'), new_user_registration_path, method: :get %> |
    <%= link_to t('.login'), new_user_session_path, method: :get %>
    <% end %>
  </span>
</nav>
