<p>
  <strong><%= t('.question') %></strong>
  <%= @answer.question.body %>
</p>
  
<p>
  <b><%= t('.answer') %></b>
  <%= @answer.body %>
</p>
  
<p>
  <b><%= t('.Ñorrect') %></b>
  <%= @answer.correct %>
</p>
  
<%= link_to t('system.button.back'), admin_question_path(@answer.question) %>
