<div  class="container">
  <h2><%= t('.header')%></h2>
  <p>
    <%= link_to t('.new_test'), new_admin_test_path, class: 'btn btn-primary' %>
  </p>
</div>
<table class="table table-striped table-hover">
  <tr>
    <th><%= t('label.test') %></td>
    <th><%= t('label.level') %></td>
    <th><%= t('label.question') %></td>
    <th colspan="3"><%= t('actions.value') %></td>
  </tr>
<%= render @tests %>
</table>
