<h2><%= @test.title%> test</h2>
<hr />
<%= link_to 'New question', new_admin_test_question_path(@test) %> 
<%= link_to 'edit', edit_admin_test_path(@test) %>
<%= link_to 'Back', admin_tests_path %>
<hr />

<table>
  <tr>
    <th>Actions</th>
    <th>Question</th>
  </tr>
  <%= render @test.questions %>
</table>
