<h2><%= t('.header', title: @test.title) %></h2>
<hr />
<span><%= t('actions.test')%></span><br>
<%= link_to t('.new_question'), new_admin_test_question_path(@test) %> 
<%= link_to t('system.button.edit'), edit_admin_test_path(@test) %>
<%= link_to t('system.button.back'), admin_tests_path %>
<hr />

<table>
  <tr>
    <th colspan="3"><%= t('actions.value')%></th>
    <th><%= t('label.question')%></th>
  </tr>
  <%= render @test.questions %>
</table>
