<h2><%= t('.header') %></h2>
<table class="table table-striped">
  <tr>
    <th><%= t('label.test') %></td>
    <th><%= t('label.level') %></td>
    <th><%= t('label.question') %></td>
    <th><%= t('actions.value') %></td>
  </tr>
<%= render @tests %>
</table>
